html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
}

.dark {
  --color-bg-primary: #151b22;
  --color-bg-secondary: #181f27;
  --color-text-title: #3e8ada;
  --color-text-h1: #eff3f8;
  --color-text-h2: #9bc1ec;
  --color-text-h3: #dce6ef;
  --color-text-body: #eff3f8;
  --color-text-secondary: #4a5568;
  --color-text-accent: #e96f61;
  --color-text-accent-secondary: #f3b0a9;
  background-color: var(--color-bg-primary);
}

.light {
  --color-bg-primary: #ffffff;
  --color-bg-secondary: #eff3f8;
  --color-text-title: #2570c1;
  --color-text-h1: #252e3d;
  --color-text-h2: #1a5291;
  --color-text-h3: #3583d9;
  --color-text-body: #2d3748;
  --color-text-secondary: #4a5568;
  --color-text-accent: #e96f61;
  --color-text-accent-secondary: #f3b0a9;
  background-color: var(--color-bg-primary);
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

div#__next > div {
  transition: color 0.2s;
  transition: background 0.2s;
}

h1 {
  @apply leading-tight !important;
}

pre {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

pre {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
pre ::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
